<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sistema de Gestão CMMS{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}">CMMS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'inventory:asset-list' %}">Ativos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'maintenance:work-order-list' %}">Ordens de Serviço</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'maintenance:maintenance_schedule_list' %}">Planejamento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'inventory:category-list' %}">Categorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'maintenance:responsible-list' %}">Responsáveis</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        {% block content %}
        <!-- O conteúdo específico da página será inserido aqui -->
        {% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
      $(document).ready(function() {
        // Aplica DataTables para todas as tabelas, pode-se especificar uma classe se necessário
        $('table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json"
            }
        });
      });
    </script>
</body>
</html>
