/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #ffffff;  
    color: #fff;            
    font-family: 'Arial', sans-serif;  
    margin: 0;              
    padding: 0;            
  }
  
  a {
    color: #3291ff;         
    text-decoration: none;  
  }
  
  a:hover {
    text-decoration: underline;  

    
  }

    